################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs
/.vs/01_Lesson_Circle/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
